RewriteEngine On
RewriteBase /mistorneos/public/api/

# Si el archivo o directorio existe, servirlo directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todo a index.php
RewriteRule ^(.*)$ index.php/$1 [L,QSA]

